/* line 4, ../../../app/stylesheets/application.sass */
body.three-col #sidebar-content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  background: #777;
  color: #eee;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-shadow: #444 1px 1px 0px; }
  /* line 101, ../../../../../.rvm/gems/ruby-head/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #sidebar-content {
    overflow-x: hidden; }
  /* line 11, ../../../app/stylesheets/application.sass */
  body.three-col #sidebar-content p {
    margin: 4px; }
/* line 13, ../../../app/stylesheets/application.sass */
body.three-col #main-menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-bottom: 8px; }
  /* line 101, ../../../../../.rvm/gems/ruby-head/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.three-col #main-menu {
    overflow-x: hidden; }
  /* line 16, ../../../app/stylesheets/application.sass */
  body.three-col #main-menu ul {
    list-style: none outside none;
    margin: 0; }
    /* line 19, ../../../app/stylesheets/application.sass */
    body.three-col #main-menu ul li {
      font-size: 14px;
      padding: 8px;
      display: block;
      float: left;
      position: relative; }
      /* line 25, ../../../app/stylesheets/application.sass */
      body.three-col #main-menu ul li a {
        text-decoration: none; }
    /* line 27, ../../../app/stylesheets/application.sass */
    body.three-col #main-menu ul li.current, body.three-col #main-menu ul li.active {
      background: #333;
      -moz-border-radius: 0 0 4px 4px; }
      /* line 30, ../../../app/stylesheets/application.sass */
      body.three-col #main-menu ul li.current a, body.three-col #main-menu ul li.active a {
        color: #fff; }
/* line 32, ../../../app/stylesheets/application.sass */
body.three-col #sub-menu {
  color: #777; }
/* line 34, ../../../app/stylesheets/application.sass */
body.three-col #footer {
  background: #333;
  padding: 8px;
  margin-top: 24px;
  color: #fff; }
  /* line 39, ../../../app/stylesheets/application.sass */
  body.three-col #footer a {
    color: #fff; }
  /* line 41, ../../../app/stylesheets/application.sass */
  body.three-col #footer ul {
    list-style: none outside none;
    margin: 0; }
    /* line 44, ../../../app/stylesheets/application.sass */
    body.three-col #footer ul li {
      margin-right: 8px;
      display: block;
      float: left;
      position: relative;
      font-weight: bold; }
      /* line 50, ../../../app/stylesheets/application.sass */
      body.three-col #footer ul li li {
        margin-right: none;
        float: none;
        font-weight: normal; }
